.Toolbar {
  height: 56px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgb(0, 27, 114);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 20px;
  box-sizing: border-box;
  z-index: 90;
  font-size: 20px;
}

@media (max-width: 500px) {
  .hideOnMobile {
    display: none;
  }
}
